API_KEY=your_hyperliquid_api_key
API_SECRET=your_hyperliquid_secret
DB_URL=postgres://postgres:postgres@db:5432/deepseek_trader?sslmode=disable
PORT=8080
SANDBOX=true
SECRET_KEY=0123456789abcdef0123456789abcdef
DEEPSEEK_API_KEY=dfwefwefwef
DEEPSEEK_BASE_URL=https://api.deepseek.com


